*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 50px;
}
.container{
    
    display: grid;
    height: 800px;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50%;
    grid-template-areas: 
    "header header"
    "article article"
    "article article"
    ;
    column-gap: 20px;
    row-gap: 20px;
}
.header{
    grid-area: header;
}
.article{
    grid-area: article;
}
.item{
    object-fit: cover;
    text-align: center;
    
    border-radius: 5%;
    border: 1px solid red;
    max-width: 45%;
    
    padding: 10px;
    font-size: 20px;
    
}
.header{
    background-image: url(./css-e.exams.opt2/resources/beach3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header.text{
    position: absolute;
    width: 460px;
    height: 80px;
    margin-top: 400px;
}.article{
  
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;

}
.item img{
    width: 450px;
    height: 300px;
    object-fit: fill;
}